<div class="limbo-timepicker" ng-controller="Limbo.Umbraco.TimePicker.Controller">
    <div class="input-append">
        <div ng-show="model.value">
            <input class="hour" type="number" min="0" max="23" ng-model="hour" ng-change="update()" />
            <input class="minute" type="number" min="0" max="59" ng-model="minute" ng-change="update()" />
        </div>
        <button type="button" ng-if="!model.value" ng-click="add()"></button>
        <span class="on-top" ng-click="clear()" role="button" tabindex="0" aria-hidden="false" ng-show="model.value">
            <umb-icon icon="icon-delete"></umb-icon>
        </span>
        <span class="add-on">
            <umb-icon icon="icon-time"></umb-icon>
        </span>
    </div>
</div>